<h2>Panel administracyjny</h2>
<br />

<div class="container">
    <div class="row">
        <a class="btn btn-secondary mb-2" asp-controller="Admin" asp-action="AddStation">Dodaj stację</a>
</div>
    <div class="row">
        <a class="btn btn-secondary mb-2" asp-controller="Admin" asp-action="AddTrainType">Dodaj typ pociągu</a>
    </div>
</div>