<h2>Panel administracyjny</h2>
<br />

<center><h3>Tworzenie</h3></center>

<div class="container">
    <div class="row justify-content-center align-items-center" style="height: 300px;">
        <div class="col-3 d-flex justify-content-center">
            <a class="btn btn-success custom-height w-100 justify-content-center" asp-controller="Admin" asp-action="AddStation"><h4>Dodaj Stację</h4></a>
        </div>
        <div class="col-3 d-flex justify-content-center">
            <a class="btn btn-success custom-height w-100 justify-content-center" asp-controller="Admin" asp-action="AddTrainType"><h4>Dodaj Rodzaj Pociągu</h4></a>
        </div>
        <div class="col-3 d-flex justify-content-center">
            <a class="btn btn-success custom-height w-100 justify-content-center" asp-controller="Admin" asp-action="AddRoute"><h4>Dodaj Trasę</h4></a>
        </div>
    </div>

    <div class="row justify-content-center align-items-center" style="height: 300px;">
        <div class="col-3 d-flex justify-content-center">
            <a class="btn btn-success custom-height w-100 justify-content-center" asp-controller="Admin" asp-action="AddRouteDetails"><h4>Skonfiguruj Trasę</h4></a>
        </div>
        <div class="col-3 d-flex justify-content-center">
            <a class="btn btn-success custom-height w-100 justify-content-center" asp-controller="Admin" asp-action="AddTrips"><h4>Dodaj Przejazd</h4></a>
        </div>
    </div>
</div>
<br />

<center><h3>Widoki</h3></center>

<div class="container">
    <div class="row justify-content-center align-items-center" style="height: 300px;">
        <div class="col-3 d-flex justify-content-center">
            <a class="btn btn-info custom-height w-100 justify-content-center" asp-controller="Admin" asp-action="Stations"><h4>Pokaż Stacje</h4></a>
        </div>
        <div class="col-3 d-flex justify-content-center">
            <a class="btn btn-info custom-height w-100 justify-content-center" asp-controller="Admin" asp-action="TrainTypes"><h4>Pokaż Rodzaje Pociągów</h4></a>
        </div>
        <div class="col-3 d-flex justify-content-center">
            <a class="btn btn-info custom-height w-100 justify-content-center" asp-controller="Admin" asp-action="Routes"><h4>Pokaż Trasy</h4></a>
        </div>
    </div>

    <div class="row justify-content-center align-items-center" style="height: 300px;">
        <div class="col-3 d-flex justify-content-center">
            <a class="btn btn-info custom-height w-100 justify-content-center" asp-controller="Admin" asp-action="Trips"><h4>Pokaż Trasy</h4></a>
        </div>
    </div>
</div>